/* prettier-ignore */
:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-variation-settings: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;

  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  scrollbar-gutter: stable;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  min-height: 100dvh;
  -webkit-tap-highlight-color: transparent;
}

a,
button {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

img,
video,
canvas,
iframe {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

pre,
code {
  font-family: var(--font-mono);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  text-transform: none;
}
